@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
/*Style for exceptional realty*/

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Bellefair' cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

#logo {
  background: aqua;
}

#logo h1 {
  font-family: 'Russo One', cursive;
}

#logo h2 {
  font-family: 'Bellefair',cursive; cursive;
}

#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}
